
body{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.container{
    position:relative;
}
.background{
    background-image: url("../assets/background3.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
#search-words{
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;   
}
.format-btn{
    border-radius: 5px;
    background:black;
    height: 6vh;
    color:white;
    padding:1px;
    text-align: center;
}

#container-info-pokemon{
    color:white;
    font-size: 15px;
    font-family: 'Hanalei Fill', cursive;
}
.format-ul{
    border: 2px solid white;
    border-radius: 5%;
    display: inline-block;
    background-color: black;
    width: 60%;
    text-align: center;
    margin-top:-5em;
}
#containerAllInformation{
    border: 2px solid white;
}